.toppick-container {
    height: 100%;
    background-size: cover;
    padding-top: 5rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.body-parag, .article-descript, .article-author {
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
}

.articles-container {
    width: 100%;
    display: flex;
    overflow-x: scroll
}



@media (min-width: 575px) {
    .toppick-container {
        padding-top: 7rem;
    }
}
